
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;

    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'gabarito-regular';
    src: url("Gabarito/static/Gabarito-Regular.ttf");
}

@font-face {
    font-family: 'gabarito-medium';
    src: url("Gabarito/static/Gabarito-Medium.ttf");
}

@font-face {
    font-family: 'gabarito-bold';
    src: url("Gabarito/static/Gabarito-Bold.ttf");
}

:root {
    --branco: #ffffff;
    --preto: #111111;
    --azul-escuro: #24508F;
    --azul-medio: #3F639B;
    --azul-leve: #E7F5FB;
    --cinza: #f0f4f7
}

h1, h2, h3, p, a, span {
    max-width: 100%;
    white-space: normal;
    line-height: 1.4;
}

/* HEADER */

header {
    width: 100%;
    height: 70px;

    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-grid {
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-grid img {
    width: 25%;
    height: 80%;

    max-width: 150px;
}

header nav {
    width: auto;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    gap: 40px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;

    font-size: 20px;
    font-family: 'gabarito-medium';

    color: var(--branco);

    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: var(--cinza); /* tom de cinzaneon */
    text-shadow: 
        0 0 20px var(--cinza),
        0 0 20px var(--cinza),
        0 0 5px var(--cinza),
        0 0 10px var(--cinza);
    border-color: var(--cinza);
}

#menu-btn {
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: none; /* só aparece no celular */
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 1001;
}

/* BANNER */

#banner {
    width: 100%;

    position: relative;
    overflow: hidden;
}

#carrossel {
    width: 100%;
    height: 100%;

    transition: transform 0.5s ease-out;

    display: flex;
}

.slide {
    width: 100%;
    height: 100%;

    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#dots {
    width: 150px;
    height: 40px;

    position: absolute;
    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    width: 30px;
    height: 30px;

    background-color: gray;
    
    cursor: pointer;
}

.dot:hover {
    background-color: var(--azul-escuro);
}

#banner-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#banner-text h1 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;

    font-size: 100px;
    font-family: 'gabarito-bold';
    color: var(--branco);

    border-right: 0.2em solid var(--azul-medio);

    animation: escreverTitulo 5s ease-in-out forwards infinite alternate;
}

@keyframes escreverTitulo {
    from { width: 0; }
    to { width: 100%; }
}

/* SOBRE */

#sobre {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#sobre .container-grid {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.valores {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

#valores-azul {
    background-color: var(--azul-escuro);

    padding: 30px;

    width: 111.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 25px 10px 30px rgba(0, 0, 0, 0.3),
                0 -10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;

}

#valores-azul h2 {
    color: var(--branco);
}

#valores-azul p {
    color: var(--branco);
}

.anim-computador {

  height: 600px;
}

.texto {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    gap: 50px;
    padding: 20px;
}

.valores h2 {
    font-family: 'gabarito-medium';
    font-size: 50px;
}

.valores p {
    font-size: 35px;
    font-family: 'gabarito-regular';
}

#anim-homem-trabalhando {
    
    height: 600px;
}

#anim-handshake {
    height: 600px;
}

/* CURSOS */

#cursos {
    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--azul-escuro);

    box-shadow: 25px 10px 30px rgba(0, 0, 0, 0.3),
                0 -10px 30px rgba(0, 0, 0, 0.3);
}

#cursos .container-grid {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#cursos-titulo {
    width: 345px;
    overflow: hidden;

    align-self: flex-start;
}

#cursos-titulo h2 {
    font-size: 50px;
    font-family: 'gabarito-medium';
    color: var(--branco);

    border-right: 0.4em solid var(--branco);

    white-space: nowrap;
    overflow: hidden;

    animation: escreverSubtitulo 3s ease-in-out forwards infinite alternate;

}

@keyframes escreverSubtitulo {
    from { width: 0; }
    to { width: 101%; }
}

#cards-cursos {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 500px;
    height: 500px;

    background-color: var(--azul-leve);

    border: none;
    border-radius: 20px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.conheca-cursos {
    position: absolute;
    inset: 300px;

    width: 300px;
    height: 60px;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: 30px;

    transition: all 0.5s ease;
}

.conheca-cursos p {
    font-family: 'gabarito-regular';
}

.conheca-cursos h3 {
    font-size: 25px;
    font-family: 'gabarito-medium';
    color: var(--preto);
}

.card img {
    height: 100%;
    width: 100%;

    border: none;
    border-radius: 20px;
    
    object-fit: cover;

    transition: height 0.5s ease;
}

.card-content {
    height: 0;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;
}

.card-text {
    width: 90%;
    height: 200px;

    overflow: hidden;

    border: none;
    border-radius: 20px;

    background-color: var(--azul-medio);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    transition: all 0.5s ease;
}

.card-text p {
    font-size: 20px;
    color: var(--branco);

    font-family: 'gabarito-regular';
}

.card:hover img {
    height: 50%;
}

.card:hover .card-content {
    height: 50%;
    opacity: 1;

}

.card:hover .conheca-cursos {
    opacity: 0;
}

/* TREINAMENTO */

#treinamento {
    width: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

#treinamento .container-grid {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
}

#treinamento .container-grid h2 {
    font-family: 'gabarito-medium';
    font-size: 50px;
    color: var(--preto);
}

#treinamento .container-grid a {
    border: none;
}

#treinamento .container-grid h2 span {
    display: block;
    text-align: center;
}

/*BOTÃO*/

#comecar {
  margin-top: 25px;
  width: 220px;
  height: 55px;
  border: 2px solid var(--branco);
  border-radius: 20px;

  background-color: var(--azul-escuro);
  color: var(--branco);
  font-size: 25px;

  cursor: pointer;
  overflow: hidden;
  position: relative;
}

#comecar::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: conic-gradient(
    #21DFD4,
    #36e4db,
    #21DFD4,
    #36e4db
  );
  opacity: 0; 
  transition: opacity 0.3s ease;
}

#comecar::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: var(--azul-escuro);
  border-radius: 16px;
}

#comecar span {
  position: relative;
  z-index: 3;
}

#comecar:hover::before {
  opacity: 1;
  animation: rotate 3s linear infinite;
}

#comecar:hover {
  color: #21DFD4;
}

@keyframes rotate {
  from { transform: scale(1.1) rotate(0deg); }
  to   { transform: scale(1.1) rotate(360deg); }
}

/* FOOTER */

footer {
    width: 100%;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--azul-escuro);

    position: relative;

    box-shadow: 25px 10px 30px rgba(0, 0, 0, 0.3),
                0 -10px 30px rgba(0, 0, 0, 0.3);
}

footer .container-grid {
    width: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#footer-esquerda {
    width: 500px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;
}

#footer-esquerda img {
    width: 250px;
}

#footer-esquerda p {
    color: var(--branco);
    font-size: 18px;
    font-family: 'gabarito-regular';
}

.copy {
    font-size: 22px;
    vertical-align: middle;
}

#footer-direita {
    width: 300px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;
}

#nav-footer {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav-footer ul li {
    list-style-type: none;
}

#nav-footer ul li a {
    text-decoration: none;

    font-size: 20px;
    font-family: 'gabarito-medium';

    color: var(--branco);

    transition: all 0.3s ease;
}

#nav-footer ul li a:hover {
    color: var(--cinza); /* tom de cinzaneon */
    text-shadow: 
        0 0 20px var(--cinza),
        0 0 20px var(--cinza),
        0 0 5px var(--cinza),
        0 0 10px var(--cinza);
    border-color: var(--cinza);
}

#projeto-educacional {
    width: 250px;
    height: 40px;

    background-color: #3F639B;
    backdrop-filter: blur(10px);

    border: none;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#projeto-educacional img {
    width: 30px;
}

#projeto-educacional h4 {
    color: var(--branco);
    font-family: 'gabarito-regular';
    font-size: 20px;
}

#footer-direita p {
    color: var(--branco);
    font-size: 18px;
    font-family: 'gabarito-regular';
}

#unity-overlay {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#unity-blur-background {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.4);
}

#unity-iframe {
    position: relative;
    width: 90vw;
    height: 90vh;
    border-radius: 12px;
    overflow: hidden;
}

#unity-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 99;
    user-select: none;
    transition: 0.2s;
}

#unity-close:hover {
    transform: scale(1.2);
    opacity: 0.7;
}


/* RESPONSIVIDADE */

@media (max-width: 1600px) {
    .card {
        width: 30%;
        height: 400px;
    }

    .card-text {
        height: 150px;
    }

    .card-text p {
        font-size: 18px;
    }

    .valores p {
        font-size: 25px;
    }

    .anim-computador {
        width: 50%;
    }

    #anim-homem-trabalhando {
        width: 50%;
    }

    #anim-handshake {
        width: 50%;
    }

    .valores h2 {
        font-size: 40px;
    }

    footer .container-grid {
        width: 65%;
    }
}

@media (max-width: 1350px) {
    .anim-computador {
        width: 50%;
    }

    #anim-homem-trabalhando {
        width: 50%;
    }

    #anim-handshake {
        width: 50%;
    }

    .card {
        height: 350px;
    }

    #cursos {
        height: 600px;
    }

    .card-text p {
        font-size: 16px;
    }

    footer .container-grid {
        width: 70%;
    }

    #footer-esquerda p {
        font-size: 14px;
    }

    #footer-direita p {
        font-size: 14px;
        white-space: nowrap;
    }

    #nav-footer ul li a {
        font-size: 20px;
    }
}

@media (max-width: 1300px) {
    .anim-computador {
        width: 50%;
    }

    #anim-homem-trabalhando {
        width: 50%;
    }

    #anim-handshake {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .card {
        height: 300px;
    }

    .card-text {
        height: 130px;
    }

    .card-text p {
        font-size: 12px;
    }

    #cursos {
        height: 550px;
    }

    #footer-esquerda p {
        width: 370px;
    }

    #footer-esquerda img {
        width: 200px;
    }
}

@media (max-width: 1150px) {
    .conheca-cursos {
        width: 250px;
    }

    .conheca-cursos h3 {
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    #banner-text h1 {
        font-size: 90px;
    }

}

@media (max-width: 1050px) {
    .anim-computador {
        width: 50%;
    }

    #anim-homem-trabalhando {
        width: 50%;
    }

    #anim-handshake {
        width: 50%;
    }

    .valores h2 {
        font-size: 35px;
    }

    footer .container-grid {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .card-text p {
        font-size: 16px;
    }

    .valores h2 {
        font-size: 25px;
    }

    #cursos {
        height: 1500px;
    }

    #cards-cursos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        gap: 40px;
    }

    #cursos-titulo {
        align-self: center;
    }

    .card-text {
        height: 150px;
    }

    .card {
        width: 60%;
        height: 400px;
    }

    .valores p {
        font-size: 20px;
    }

    .valores {
        height: 400px;
    }

    .conheca-cursos {
        width: 300px;
    }

    .conheca-cursos h3 {
        font-size: 20px;
    }

    #dots {
        width: 120px;
        height: 20px;

        bottom: 20px;
    }

    .dot {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 950px) {
    #banner-text h1 {
        font-size: 80px;
    }
}

@media (max-width: 900px) {
  /* Mostra o botão no celular */
  #menu-btn {
    display: block;
    margin-left: auto; /* empurra o ícone pro canto direito */
  }

  /* Ajusta o container do header */
  header .container-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* pra nav e botão ficarem dentro do header */
  }

  /* Esconde o menu por padrão */
  header nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 80px; /* logo abaixo do header */
    right: 10px;
    width: 25%;
    background: var(--azul-medio);
    padding: 15px 0;
    gap: 20px;
    text-align: center;
    border-radius: 10px;
    z-index: 1000;
  }

  /* Quando ativo, aparece */
  header nav ul.active {
    display: flex;
  }

  /* Links do menu */
  header nav ul li a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
  }
}

@media (max-width: 850px) {
    #banner-text h1 {
        font-size: 70px;
    }

}

@media (max-width: 800px) {
    .valores h2 {
        font-size: 25px;
    }

    .valores p {
        font-size: 18px;
    }
}

@media (max-width: 750px) {
    #footer-esquerda p {
        width: 320px;
        font-size: 14px;
    }

    #footer-esquerda img {
        width: 200px;
    }

    #projeto-educacional {
        width: 200px;
    }

    #projeto-educacional h4 {
        font-size: 15px;
    }

    #banner-text h1 {
        font-size: 50px;
    }

    .anim-computador {
        width: 300px;
    }

    #anim-homem-trabalhando {
        width: 300px;
    }

    #anim-handshake {
        width: 300px;
    }

}

@media (max-width: 700px) {
    .valores p {
        font-size: 16px;
    }

    .valores h2 {
        font-size: 22px;
    }

    #footer-esquerda p {
        width: 280px;
    }

    header nav ul li a {
        font-size: 15px;
    }

    .valores {
        height: 300px;
    }
}

@media (max-width: 650px) {
    #footer-esquerda p {
        width: 80%;
    }

    footer .container-grid {
        width: 80%;
    }

    .valores h2 {
        font-size: 18px;
    }

    #footer-direita {
        width: 200px;
        gap: 23px;
    }
    
    .card-text p {
        font-size: 15px;
    }

    .valores h2 {
        font-size: 15px;
    }

    .valores p {
        font-size: 13px;
    }

    .card {
        width: 70%;
    }
}

@media (max-width: 600px) {
    #treinamento .container-grid h2 {
        font-size: 40px;
    }

    #footer-esquerda img {
        width: 50%;
    }

    #footer-esquerda p {
        font-size: 10px;
    }

    footer .container-grid {
        width: 80%;
    }

    #nav-footer ul li a {
        font-size: 15px;
    }

    footer {
        height: 250px;
    }

    #projeto-educacional {
        width: 150px;
    }

    #projeto-educacional h4{
        font-size: 10px;

        font-family: 'gabarito-regular';
    }   

    #footer-direita p {
        font-size: 10px;
        white-space: nowrap;
    }

   .anim-computador {
        width: 50%;
    }

    #anim-homem-trabalhando {
        width: 50%;
    }

    #anim-handshake {
        width: 50%;
    }

    .valores p {
        font-size: 10px;
    }

    .valores {
        height: 250px;
    }

    #nav-footer ul li a{
        font-size: 15px;
    }

    .card-text p {
        font-size: 14px;
    }

    .conheca-cursos {
        width: 90%;
    }

    .conheca-cursos h3 {
        font-size: 20px;
    }

    .texto {
        gap: 20px;
    }

    
    #dots {
        width: 100px;
    }
}

@media (max-width: 550px) {
    .dot {
        width: 15px;
        height: 15px;
    }

    #dots {
        width: 75px;
        bottom: 10px;
    }
}

@media (max-width: 500px) {
    #banner-text h1 {
        font-size: 40px;
    }

    .valores {
        height: 200px;
    }

    header nav ul{
        gap: 20px;
    }

    #direitos p {
        white-space: nowrap;
    }

    .copy {
        display: none;
    }
}

@media (max-width: 450px) {
    #treinamento .container-grid h2 {
        font-size: 35px;
    }

    .card {
        height: 300px;
    }

    .card-text {
        height: 80%;
    }

    .card-text p {
        font-size: 10px;
    }

    #cursos {
        height: 1200px;
    }

    .conheca-cursos h3 {
        font-size: 15px;
    }

    #nav-footer ul li a {
        font-size: 12px;
    }

    #projeto-educacional img {
        width: 15px;
    }

    #projeto-educacional {
        width: 130px;
        height: 30px;
    }

    #projeto-educacional p{
        font-size: 8px;
    }

    #banner-text h1 {
        font-size: 35px;
    }

    .valores h2 {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    header nav ul li a {
        font-size: 10px;
    }

    header nav ul {
        gap: 10px;
    }

    .valores p {
        font-size: 8px;
    }

    #treinamento .container-grid h2 {
        font-size: 30px;
    }

    #footer-esquerda p{
        font-size: 8px;
    }

    .copy {
        vertical-align: middle;
    }

    #cursos-titulo h2 {
        font-size: 40px;
    }

    #cursos-titulo {
        width: 280px;
    }

    #footer-direita p {
        font-size: 8px;
    }
}

@media (max-width: 350px) {
    .valores p {
        font-size: 6px;
    }

    .valores {
        height: 150px;
    }
}